/*Adding fonts*/
@import url("https://fonts.cdnfonts.com/css/circe");
@import url("db.onlinewebfonts.com/c/000b38b7be6515466bec7878eb278dbe?family=Leitura+Roman+1");
/*Resting the page with margin and padding*/
* {
  margin: 0;
  padding: 0;
}

body {
  background: #F5706C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 130vh;
}

.section-0 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 39vh;
}

.section-0 a {
  background: #272727;
  color: #FCFCF0;
  font-weight: bold;
  padding: 0.5% 1.5% 0.5% 1.5%;
  font-size: 1vw;
  letter-spacing: 0.085vw;
  font-family: 'Circe', sans-serif;
  margin: 1.5% 0% 1% 0%;
  position: relative;
  z-index: 1;
}

.section-0 a:before {
  border-top: 2px solid #272727;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 220%;
  z-index: -1;
}

.section-0 a:after {
  border-top: 2px solid #272727;
  content: "";
  margin: 0 auto;
  position: absolute;
  right: 50%;
  bottom: 50%;
  width: 220%;
  z-index: -1;
}

.section-0 h2 {
  color: #272727;
  font-size: 3vw;
  font-family: "Leitura Roman 1";
  padding: 1.5% 0% 1.5% 0%;
}

.section-0 p {
  font-family: 'Circe', sans-serif;
  color: #272727;
  font-size: 1.4vw;
  text-align: center;
}

.section-0 span {
  text-decoration: underline;
}

.section-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
      -ms-flex-direction: initial;
          flex-direction: initial;
  margin: 0% 0% 2% 0%;
}

.section-1 .sub1-section1 {
  color: #FCFCF0;
  background: #272727;
  border-radius: 50px;
}

.section-1 .sub2-section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  width: 47vw;
}

.section-1 .sub2-section1 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
      -ms-flex-direction: initial;
          flex-direction: initial;
  width: -webkit-fill-available;
}

.section-1 .sub2-section1 div h3 {
  font-size: 15px;
  padding: 0% 0% 1% 1%;
  font-family: 'Circe', sans-serif;
  font-weight: normal;
}

.section-1 .sub2-section1 div h3 b {
  font-weight: bolder;
  font-size: 18px;
}

.section-1 .sub2-section1 p {
  color: #272727;
  font-size: 1.4vw;
  font-family: "Leitura Roman 1";
  padding: 2.5% 0% 2.5% 0%;
}

.section-1:hover {
  background: #a73b38;
  -webkit-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
  width: -webkit-fill-available;
  cursor: pointer;
}

.section-1-dropdown-content {
  display: none;
  -ms-grid-column-align: end;
      justify-self: end;
}

.section-1-dropdown-content .dropdown-content-container {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 20vh;
  width: -webkit-fill-available;
}

.section-1-dropdown-content .dropdown-content-container p {
  font-size: 1vw;
  padding: 0% 25% 0% 26.5%;
  font-family: 'Circe', sans-serif;
}

.section-1-dropdown-content .dropdown-content-container a {
  font-family: 'Circe', sans-serif;
  padding: 0% 0% 0% 26.5%;
}

.section-1-dropdown-content .dropdown-content-container a:hover {
  cursor: pointer;
}

.section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0% 0% 2% 0%;
}

.section-2 .sub1-section2 {
  color: #FCFCF0;
  background: #272727;
  border-radius: 50px;
}

.section-2 .sub2-section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  width: 47vw;
}

.section-2 .sub2-section2 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
      -ms-flex-direction: initial;
          flex-direction: initial;
  width: -webkit-fill-available;
}

.section-2 .sub2-section2 div h3 {
  font-size: 15px;
  padding: 0% 0% 1% 1%;
  font-family: 'Circe', sans-serif;
}

.section-2 .sub2-section2 div h3 b {
  font-weight: bolder;
  font-size: 18px;
}

.section-2 .sub2-section2 p {
  color: #272727;
  font-size: 1.4vw;
  font-family: "Leitura Roman 1";
  padding: 2.5% 0% 2.5% 0%;
}

.section-2:hover {
  background: #a73b38;
  -webkit-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
  width: -webkit-fill-available;
  cursor: pointer;
}

.section-2 .section-2-dropdown-content {
  display: none;
}

.section-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0% 0% 2% 0%;
}

.section-3 .sub1-section3 {
  color: #FCFCF0;
  background: #272727;
  border-radius: 50px;
}

.section-3 .sub2-section3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  width: 47vw;
}

.section-3 .sub2-section3 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
      -ms-flex-direction: initial;
          flex-direction: initial;
  width: -webkit-fill-available;
}

.section-3 .sub2-section3 div h3 {
  font-size: 15px;
  padding: 0% 0% 1% 1%;
  font-family: 'Circe', sans-serif;
}

.section-3 .sub2-section3 div h3 b {
  font-weight: bolder;
  font-size: 18px;
}

.section-3 .sub2-section3 p {
  color: #272727;
  font-size: 1.4vw;
  font-family: "Leitura Roman 1";
  padding: 2.5% 0% 2.5% 0%;
}

.section-3:hover {
  background: #a73b38;
  -webkit-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
  width: -webkit-fill-available;
  cursor: pointer;
}

.section-3 .section-3-dropdown-content {
  display: none;
}

.section-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0% 0% 2% 0%;
}

.section-4 .sub1-section4 {
  color: #FCFCF0;
  background: #272727;
  border-radius: 50px;
}

.section-4 .sub2-section4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  width: 47vw;
}

.section-4 .sub2-section4 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
      -ms-flex-direction: initial;
          flex-direction: initial;
  width: -webkit-fill-available;
}

.section-4 .sub2-section4 div h3 {
  font-size: 15px;
  padding: 0% 0% 1% 1%;
  font-family: 'Circe', sans-serif;
}

.section-4 .sub2-section4 div h3 b {
  font-weight: bolder;
  font-size: 18px;
}

.section-4 .sub2-section4 p {
  color: #272727;
  font-size: 1.4vw;
  font-family: "Leitura Roman 1";
  padding: 2.5% 0% 2.5% 0%;
}

.section-4:hover {
  background: #a73b38;
  -webkit-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
  width: -webkit-fill-available;
  cursor: pointer;
}

.section-4 .section-4-dropdown-content {
  display: none;
}

.section-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0% 0% 2% 0%;
}

.section-5 .sub1-section5 {
  color: #FCFCF0;
  background: #272727;
  border-radius: 50px;
}

.section-5 .sub2-section5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  width: 47vw;
}

.section-5 .sub2-section5 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
      -ms-flex-direction: initial;
          flex-direction: initial;
  width: -webkit-fill-available;
}

.section-5 .sub2-section5 div h3 {
  font-size: 15px;
  padding: 0% 0% 1% 1%;
  font-family: 'Circe', sans-serif;
}

.section-5 .sub2-section5 div h3 b {
  font-weight: bolder;
  font-size: 18px;
}

.section-5 .sub2-section5 p {
  color: #272727;
  font-size: 1.4vw;
  font-family: "Leitura Roman 1";
  padding: 2.5% 0% 2.5% 0%;
}

.section-5:hover {
  background: #a73b38;
  -webkit-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
  width: -webkit-fill-available;
  cursor: pointer;
}

.section-5 .section-5-dropdown-content {
  display: none;
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 280px) and (max-width: 480px) {
  body {
    height: 100vh;
  }
  .section-0 {
    height: 27vh;
  }
  .section-0 a {
    background: #272727;
    color: #FCFCF0;
    font-weight: bold;
    padding: 1.5% 2% 1.5% 2%;
    font-size: 3.6vw;
    letter-spacing: 0.185vw;
    font-family: 'Circe', sans-serif;
    margin: 2.5% 0% 2.5% 0%;
    position: relative;
    z-index: 1;
  }
  .section-0 h2 {
    color: #272727;
    font-size: 6.5vw;
    font-family: "Leitura Roman 1";
    padding: 1.5% 0% 1.5% 0%;
  }
  .section-0 p {
    font-family: 'Circe', sans-serif;
    color: #272727;
    font-size: 3vw;
    text-align: center;
  }
  .section-1 .sub2-section1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    width: 87vw;
  }
  .section-1 .sub2-section1 p {
    color: #272727;
    font-size: 3vw;
    font-family: "Leitura Roman 1";
    padding: 2.5% 0% 2.5% 0%;
  }
  .section-1 .sub2-section1 div h3 {
    font-size: 10px;
    font-family: 'Circe', sans-serif;
    font-weight: normal;
  }
  .section-1 .sub2-section1 div h3 b {
    font-size: 12px;
  }
  .section-2 .sub2-section2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    width: 87vw;
  }
  .section-2 .sub2-section2 p {
    color: #272727;
    font-size: 3vw;
    font-family: "Leitura Roman 1";
    padding: 2.5% 0% 2.5% 0%;
  }
  .section-2 .sub2-section2 div h3 {
    font-size: 10px;
    font-family: 'Circe', sans-serif;
    font-weight: normal;
  }
  .section-2 .sub2-section2 div h3 b {
    font-size: 12px;
  }
  .section-3 .sub2-section3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    width: 87vw;
  }
  .section-3 .sub2-section3 p {
    color: #272727;
    font-size: 3vw;
    font-family: "Leitura Roman 1";
    padding: 2.5% 0% 2.5% 0%;
  }
  .section-3 .sub2-section3 div h3 {
    font-size: 10px;
    font-family: 'Circe', sans-serif;
    font-weight: normal;
  }
  .section-3 .sub2-section3 div h3 b {
    font-size: 12px;
  }
  .section-4 .sub2-section4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    width: 87vw;
  }
  .section-4 .sub2-section4 p {
    color: #272727;
    font-size: 3vw;
    font-family: "Leitura Roman 1";
    padding: 2.5% 0% 2.5% 0%;
  }
  .section-4 .sub2-section4 div h3 {
    font-size: 10px;
    font-family: 'Circe', sans-serif;
    font-weight: normal;
  }
  .section-4 .sub2-section4 div h3 b {
    font-size: 12px;
  }
  .section-5 .sub2-section5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    width: 87vw;
  }
  .section-5 .sub2-section5 p {
    color: #272727;
    font-size: 3vw;
    font-family: "Leitura Roman 1";
    padding: 2.5% 0% 2.5% 0%;
  }
  .section-5 .sub2-section5 div h3 {
    font-size: 10px;
    font-family: 'Circe', sans-serif;
    font-weight: normal;
  }
  .section-5 .sub2-section5 div h3 b {
    font-size: 12px;
  }
  .section-1-dropdown-content .dropdown-content-container p {
    font-size: 2.6vw;
    padding: 0% 10% 0% 10%;
    font-family: 'Circe', sans-serif;
  }
  .section-1-dropdown-content .dropdown-content-container a {
    font-family: 'Circe', sans-serif;
    padding: 0% 0% 0% 10%;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  .section-1 {
    margin: 10% 0% 2% 0%;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  .section-0 a {
    background: #272727;
    color: #FCFCF0;
    font-weight: bold;
    padding: 1.5% 2% 1.5% 2%;
    font-size: 3vw;
    letter-spacing: 0.185vw;
    font-family: 'Circe', sans-serif;
    margin: 2.5% 0% 2.5% 0%;
    position: relative;
    z-index: 1;
  }
  .section-0 h2 {
    color: #272727;
    font-size: 7vw;
    font-family: "Leitura Roman 1";
    padding: 1.5% 0% 1.5% 0%;
  }
  .section-0 p {
    font-family: 'Circe', sans-serif;
    color: #272727;
    font-size: 3vw;
    text-align: center;
  }
}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .section-0 a {
    background: #272727;
    color: #FCFCF0;
    font-weight: bold;
    padding: 1.5% 2% 1.5% 2%;
    font-size: 1.5vw;
    letter-spacing: 0.185vw;
    font-family: 'Circe', sans-serif;
    margin: 2.5% 0% 2.5% 0%;
    position: relative;
    z-index: 1;
  }
  .section-0 h2 {
    color: #272727;
    font-size: 4vw;
    font-family: "Leitura Roman 1";
    padding: 1.5% 0% 1.5% 0%;
  }
  .section-0 p {
    font-family: 'Circe', sans-serif;
    color: #272727;
    font-size: 1.7vw;
    text-align: center;
  }
  .section-1 {
    margin: 10% 0% 2% 0%;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  .section-0 a {
    background: #272727;
    color: #FCFCF0;
    font-weight: bold;
    padding: 1.5% 2% 1.5% 2%;
    font-size: 1vw;
    letter-spacing: 0.185vw;
    font-family: 'Circe', sans-serif;
    margin: 2.5% 0% 2.5% 0%;
    position: relative;
    z-index: 1;
  }
  .section-0 h2 {
    color: #272727;
    font-size: 3vw;
    font-family: "Leitura Roman 1";
    padding: 1.5% 0% 1.5% 0%;
  }
  .section-0 p {
    font-family: 'Circe', sans-serif;
    color: #272727;
    font-size: 1.5vw;
    text-align: center;
  }
}

@media (min-width: 484px) and (max-width: 767px) {
  .section-0 a {
    background: #272727;
    color: #FCFCF0;
    font-weight: bold;
    padding: 1.5% 2% 1.5% 2%;
    font-size: 1.5vw;
    letter-spacing: 0.185vw;
    font-family: 'Circe', sans-serif;
    margin: 2.5% 0% 2.5% 0%;
    position: relative;
    z-index: 1;
  }
  .section-0 h2 {
    color: #272727;
    font-size: 5vw;
    font-family: "Leitura Roman 1";
    padding: 1.5% 0% 1.5% 0%;
  }
  .section-0 p {
    font-family: 'Circe', sans-serif;
    color: #272727;
    font-size: 2vw;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */