/*Adding fonts*/
@import url('https://fonts.cdnfonts.com/css/circe');
@import url('db.onlinewebfonts.com/c/000b38b7be6515466bec7878eb278dbe?family=Leitura+Roman+1');

/*Resting the page with margin and padding*/
*{
    margin:0;
    padding:0;
}

body{
    background: #F5706C;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    height: 130vh;
}

.section-0{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 39vh;
    
    a{
        background: #272727;
        color: #FCFCF0;
        font-weight: bold;
        padding: 0.5% 1.5% 0.5% 1.5%;
        font-size: 1vw;
        letter-spacing: 0.085vw;
        font-family: 'Circe', sans-serif;
        margin: 1.5% 0% 1% 0%;

        position: relative;
        z-index:1;
    }

    a:before{
        border-top: 2px solid #272727;
        content:"";
        margin: 0 auto; 
        position: absolute; 
        top: 50%; 
        left: 50%; 
        width: 220%;
        z-index: -1;
    }

    a:after{
        border-top: 2px solid #272727;
        content: "";
        margin: 0 auto;
        position: absolute;
        right: 50%;
        bottom: 50%;
        width: 220%;
        z-index: -1;
    }


    h2{
        color: #272727;
        font-size: 3vw;
        font-family: "Leitura Roman 1";
        padding: 1.5% 0% 1.5% 0%;
    }

    p{
        font-family: 'Circe', sans-serif;
        color: #272727;
        font-size: 1.4vw;
        text-align: center;
    }

        span{
            text-decoration: underline;
        }
}

.section-1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: initial;
    margin: 0% 0% 2% 0%;

    .sub1-section1{
        color: #FCFCF0;
        background: #272727;
        border-radius: 50px;
    }

    .sub2-section1{
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-top: 3px solid white;
        border-bottom: 3px solid white;
        width: 47vw;

        div{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: initial;
            width: -webkit-fill-available;

            h3{
                // font-size:1.35vw;
                font-size: 15px;
                padding: 0% 0% 1% 1%;
                font-family: 'Circe', sans-serif;
                font-weight: normal;

                b{
                    font-weight: bolder;
                    font-size: 18px;
                }
            }
        }

        p{
            color: #272727;
            font-size: 1.4vw;
            font-family: "Leitura Roman 1";
            padding: 2.5% 0% 2.5% 0%;
            
        }
    }
    
    &:hover{
        background: #a73b38;
        transition: ease-in-out 1s;
        width: -webkit-fill-available;
        cursor: pointer;
    }
}

.section-1-dropdown-content{
    display:none;
    justify-self: end;
    
    .dropdown-content-container{
        background:white;
        display: flex;
        align-items: start;
        justify-content: space-evenly;
        flex-direction: column;
        height: 20vh;
        width:-webkit-fill-available;

        p{
            font-size: 1vw;
            padding: 0% 25% 0% 26.5%;
            font-family: 'Circe', sans-serif;
        }

        a{
            font-family: 'Circe', sans-serif;
            padding: 0% 0% 0% 26.5%;

            &:hover{
                cursor:pointer;
            }
        }
    }
}

.section-2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0% 0% 2% 0%;

    .sub1-section2{
        color: #FCFCF0;
        background: #272727;
        border-radius: 50px;
    }

    .sub2-section2{
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-top: 3px solid white;
        border-bottom: 3px solid white;
        width: 47vw;

        div{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: initial;
            width: -webkit-fill-available;

            h3{
                // font-size:1.35vw;
                font-size: 15px;
                padding: 0% 0% 1% 1%;
                font-family: 'Circe', sans-serif;

                b{
                    font-weight: bolder;
                    font-size: 18px;
                }
            }
        }

        p{
            color: #272727;
            font-size: 1.4vw;
            font-family: "Leitura Roman 1";
            padding: 2.5% 0% 2.5% 0%;
            
        }
    }

    &:hover{
        background: #a73b38;
        transition: ease-in-out 1s;
        width: -webkit-fill-available;
        cursor: pointer;
    }

    .section-2-dropdown-content{
        display: none;
    }
}

.section-3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0% 0% 2% 0%;

    .sub1-section3{
        color: #FCFCF0;
        background: #272727;
        border-radius: 50px;
    }

    .sub2-section3{
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-top: 3px solid white;
        border-bottom: 3px solid white;
        width: 47vw;

        div{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: initial;
            width: -webkit-fill-available;

            h3{
                // font-size:1.35vw;
                font-size: 15px;
                padding: 0% 0% 1% 1%;
                font-family: 'Circe', sans-serif;

                b{
                    font-weight: bolder;
                    font-size: 18px;
                }
            }
        }

        p{
            color: #272727;
            font-size: 1.4vw;
            font-family: "Leitura Roman 1";
            padding: 2.5% 0% 2.5% 0%;
            
        }
    }

    &:hover{
        background: #a73b38;
        transition: ease-in-out 1s;
        width: -webkit-fill-available;
        cursor: pointer;
    }

    .section-3-dropdown-content{
        display: none;
    }
}

.section-4{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0% 0% 2% 0%;

    .sub1-section4{
        color: #FCFCF0;
        background: #272727;
        border-radius: 50px;
    }

    .sub2-section4{
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-top: 3px solid white;
        border-bottom: 3px solid white;
        width: 47vw;

        div{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: initial;
            width: -webkit-fill-available;

            h3{
                // font-size:1.35vw;
                font-size: 15px;
                padding: 0% 0% 1% 1%;
                font-family: 'Circe', sans-serif;

                b{
                    font-weight: bolder;
                    font-size: 18px;
                }
            }
        }

        p{
            color: #272727;
            font-size: 1.4vw;
            font-family: "Leitura Roman 1";
            padding: 2.5% 0% 2.5% 0%;
            
        }
    }

    &:hover{
        background: #a73b38;
        transition: ease-in-out 1s;
        width: -webkit-fill-available;
        cursor: pointer;
    }

    .section-4-dropdown-content{
        display: none;
    }
}

.section-5{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0% 0% 2% 0%;

    .sub1-section5{
        color: #FCFCF0;
        background: #272727;
        border-radius: 50px;
    }

    .sub2-section5{
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-top: 3px solid white;
        border-bottom: 3px solid white;
        width: 47vw;

        div{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: initial;
            width: -webkit-fill-available;

            h3{
                // font-size:1.35vw;
                font-size: 15px;
                padding: 0% 0% 1% 1%;
                font-family: 'Circe', sans-serif;

                b{
                    font-weight: bolder;
                    font-size: 18px;
                }
            }
        }

        p{
            color: #272727;
            font-size: 1.4vw;
            font-family: "Leitura Roman 1";
            padding: 2.5% 0% 2.5% 0%;
            
        }
    }

    &:hover{
        background: #a73b38;
        transition: ease-in-out 1s;
        width: -webkit-fill-available;
        cursor: pointer;
    }

    .section-5-dropdown-content{
        display: none;
    }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 280px) and (max-width: 480px) {
  
    .section-0{
        a{
            background: #272727;
            color: #FCFCF0;
            font-weight: bold;
            padding: 1.5% 2% 1.5% 2%;
            font-size: 3.6vw;
            letter-spacing: 0.185vw;
            font-family: 'Circe', sans-serif;
            margin: 2.5% 0% 2.5% 0%;
            position: relative;
            z-index: 1;
        }

        h2{
            color: #272727;
            font-size: 6.5vw;
            font-family: "Leitura Roman 1";
            padding: 1.5% 0% 1.5% 0%;
        }

        p{
            font-family: 'Circe', sans-serif;
            color: #272727;
            font-size: 3vw;
            text-align: center;
        }
    }
    
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    .section-1{
        margin: 10% 0% 2% 0%;
    }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    .section-0{
        a{
            background: #272727;
            color: #FCFCF0;
            font-weight: bold;
            padding: 1.5% 2% 1.5% 2%;
            font-size: 3vw;
            letter-spacing: 0.185vw;
            font-family: 'Circe', sans-serif;
            margin: 2.5% 0% 2.5% 0%;
            position: relative;
            z-index: 1;
        }

        h2{
            color: #272727;
            font-size: 7vw;
            font-family: "Leitura Roman 1";
            padding: 1.5% 0% 1.5% 0%;
        }

        p{
            font-family: 'Circe', sans-serif;
            color: #272727;
            font-size: 3vw;
            text-align: center;
        }
    }
}
  
/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/
  
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .section-0{
        a{
            background: #272727;
            color: #FCFCF0;
            font-weight: bold;
            padding: 1.5% 2% 1.5% 2%;
            font-size: 1.5vw;
            letter-spacing: 0.185vw;
            font-family: 'Circe', sans-serif;
            margin: 2.5% 0% 2.5% 0%;
            position: relative;
            z-index: 1;
        }

        h2{
            color: #272727;
            font-size: 4vw;
            font-family: "Leitura Roman 1";
            padding: 1.5% 0% 1.5% 0%;
        }

        p{
            font-family: 'Circe', sans-serif;
            color: #272727;
            font-size: 1.7vw;
            text-align: center;
        }
    }

    .section-1{
        margin: 10% 0% 2% 0%;
    }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    .section-0{
        a{
            background: #272727;
            color: #FCFCF0;
            font-weight: bold;
            padding: 1.5% 2% 1.5% 2%;
            font-size: 1vw;
            letter-spacing: 0.185vw;
            font-family: 'Circe', sans-serif;
            margin: 2.5% 0% 2.5% 0%;
            position: relative;
            z-index: 1;
        }

        h2{
            color: #272727;
            font-size: 3vw;
            font-family: "Leitura Roman 1";
            padding: 1.5% 0% 1.5% 0%;
        }

        p{
            font-family: 'Circe', sans-serif;
            color: #272727;
            font-size: 1.5vw;
            text-align: center;
        }
    }
}

@media (min-width:484px) and (max-width: 767px) {
    .section-0{
        a{
            background: #272727;
            color: #FCFCF0;
            font-weight: bold;
            padding: 1.5% 2% 1.5% 2%;
            font-size: 1.5vw;
            letter-spacing: 0.185vw;
            font-family: 'Circe', sans-serif;
            margin: 2.5% 0% 2.5% 0%;
            position: relative;
            z-index: 1;
        }

        h2{
            color: #272727;
            font-size: 5vw;
            font-family: "Leitura Roman 1";
            padding: 1.5% 0% 1.5% 0%;
        }

        p{
            font-family: 'Circe', sans-serif;
            color: #272727;
            font-size: 2vw;
            text-align: center;
        }
    }
}