*{
    margin:0;
    padding:0;
}

body{
    background: #F5706C;
    // display: flex;
    // align-items: center;
    // justify-content: space-around;
    // flex-direction: column;

    // a{
    //     font-family: Circle;
    //     font-weight: bold;
    //     color: #FCFCF0;
    //     font-size: 1.5vw;
    //     background: black;
    //     padding:0.5%;
    //     margin:1%;
    // }

    // h2{
    //     font-family:'Leitura', sans-serif;
    //     font-size:30px;
    // }
}

.section-1{
}

.section-2{

}

.section-3{

}

.section-4{

}

.section-5{

}